---
const { staticSrc, gifSrc, link, alt, width, height, customStyle } = Astro.props;

---

<a href={link} class="hover-image-link" style={customStyle}>
  <img 
    src={staticSrc} 
    alt={alt} 
    class="hover-image" 
    data-gif-src={gifSrc} 
    data-static-src={staticSrc} 
    style={`width: ${width}; height: ${height};`} />
</a>

<style>
  .hover-image-link {
    display: inline-block;
    text-decoration: none;
  }

  .hover-image {
    transition: all 0.3s ease;
    border-radius: 8px;
    object-fit: contain;
  }

  .hover-image-link:hover .hover-image {
    opacity: 0.8;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Select all elements with the hover-image class
    const hoverImages = document.querySelectorAll('.hover-image');

    // Loop through each hover image and add event listeners
    hoverImages.forEach(hoverImage => {
      const gifSrc = hoverImage.getAttribute('data-gif-src');
      const staticSrc = hoverImage.getAttribute('data-static-src');

      hoverImage.addEventListener('mouseover', () => {
        hoverImage.src = `${gifSrc}?random=${new Date().getTime()}`;
      });

      hoverImage.addEventListener('mouseout', () => {
        hoverImage.src = staticSrc; // Revert back to static image
      });
    });
  });
</script>
